* {
    margin: 0%;
    padding: 0px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    width: 370px;
    height: 450px;
}

.center_center_vertical {
    /* Frame 34480 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_center_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center_top_vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.left_center_vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left_center_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.left_top_vertical {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}